flake8==3.8.3
mypy==0.782
requests==2.24.0
numpy==1.19.1
pytest==6.0.1
pandas==1.1.0
python-dateutil==2.8.1
plotly==4.14.3
ccxt==1.43.72
retry==0.9.2
scikit-learn==0.24.1
dash==1.19.0
mypy_extensions==0.4.3
varname==0.6.3
